<h1>Pelletverbrauch</h1>

<ngb-tabset>
  <ngb-tab title="Verbrauchswert eintragen">
    <template ngbTabContent>
      <p>&nbsp;</p>
      <hmi-consumption-figure></hmi-consumption-figure>
    </template>
  </ngb-tab>
  <ngb-tab title="Übersicht">
    <template ngbTabContent>
      <p>&nbsp;</p>
      <p>To be done</p>
    </template>
  </ngb-tab>
  <ngb-tab title="Tests">
    <template ngbTabContent>
      <p>&nbsp;</p>
      <hmi-basic-tries></hmi-basic-tries>
    </template>
  </ngb-tab>
  <ngb-tab title="Timepicker">
    <template ngbTabContent>
      <p>&nbsp;</p>
      <hmi-time-picker></hmi-time-picker>
    </template>
  </ngb-tab>
</ngb-tabset>
