<ze-nav>
</ze-nav>

<div id="content" class="container-fluid">
  <router-outlet></router-outlet>
</div>

<ze-alert></ze-alert>

<footer class="footer">
  <div class="container" item-height=100%>
    <p class="text-muted">Copyright by <a href="http://hmi-informatik.de" target="_top">hmi-informatik.de</a></p>
  </div>
</footer>

<!-- main app container -->
<!--<div class="jumbotron">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-2">
      <router-outlet></router-outlet>
      <ze-alert></ze-alert>
    </div>
  </div>
</div>
-->

<!--<div class="content">
    <div id="left">
      <router-outlet></router-outlet>
    </div>
    <div id="right">
      <router-outlet name="right"></router-outlet>
    </div>
  </div>
  <div id="footer">
    <router-outlet name="bottom"></router-outlet>
  </div>
</div>
-->
